*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    height: 100vh;
}
body {
    height: 100%;
    font-family: sans-serif;
}
#root {
    height: 100%;
}
.App {
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    background-color: #1f282e ;
    height: 100%;
}

