*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    height: 100vh;
}
body {
    height: 100%;
    font-family: sans-serif;
}
#root {
    height: 100%;
}
.App {
    display: grid;
    grid-template-columns: 1fr 900px 1fr;
    grid-template-rows: 8rem 200px 200px;
    background-color: #1f282e ;
    height: 100%;
}
.holder {
    display: flex;
    justify-content: space-around;
    grid-column: 2;
    grid-row: 2;
    /* background-color: inherit; */
}
.holder2 {
    display: flex;
    justify-content: space-around;
    grid-column: 2;
    grid-row: 3;
    /* background-color: inherit; */
}

